*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #2b58a5d6;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 50px;
    padding-top: 8px;
}

/*Estilos del cuadrado*/
.section-cuadrado{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
}
.section-cuadrado label{
    font-size: 1.4rem;
    font-weight: bold;
}
.section-cuadrado p{
    font-size: 1.4rem;
    font-weight: bold;
}
.section-cuadrado button{
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid;
}
.section-cuadrado input {
    background-color: #adb7e3;
    border: 1px solid #adb7e3;
    margin-bottom: 10px;
}
.section-cuadrado img{
    width: 150px;
    height: 150px;
    margin: auto;
}

/*Estilos del triangulo*/
.section-triangulo{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
}
.section-triangulo label{
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
}
.section-triangulo p{
    font-size: 1.4rem;
    font-weight: bold;
}
.section-triangulo button{
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid;
}
.section-triangulo input{
    background-color: #adb7e3;
    border: 1px solid #adb7e3;
    margin-bottom: 10px;
}
.section-triangulo img{
    width: 150px;
    height: 150px;
    margin: 12px auto;
}

/*Estilos del circulo*/
.section-circulo{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
}
.section-circulo label{
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
}
.section-circulo p{
    font-size: 1.4rem;
    font-weight: bold;
}
.section-circulo button{
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid;
}
.section-circulo input{
    background-color: #adb7e3;
    border: 1px solid #adb7e3;
    margin-bottom: 10px;
}
.section-circulo img{
    width: 150px;
    height: 150px;
    margin: 12px auto;
}

footer{
    display: flex;
    width: 100%;
    height: 50px;
}

footer section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer ul{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    list-style: none;
}
footer li{
    margin: 10px 0;
}
footer a{
    text-decoration: none;
    color: black;
}